.productos-page-cantidad-no-disponible{
    background-color: tomato;

    font-weight: 600;
    width: fit-content;
    border-radius: 1000px;
    padding: 4px 12px;
}

.productos-page-cantidad-disponible{
    background-color: #e5ffee;
    color: #007d2a;
    font-weight: 600;
    width: fit-content;
    border-radius: 1000px;
    padding: 4px 12px;

}