
// pantallas de escritorio
@media (min-width: 1024px) {
    .form-producto-container {
        margin: 0 200px;
    }

    .form-producto-title {
        font-size: 25px;
        font-weight: 700;
        margin: 32px 215px 8px 215px;
    }

    .form-producto-subtitle {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        font-weight: 400;
        margin: 0px 215px 16px 215px;
        color: #4d4646;
    }
}

                                    

.form-producto-container {
    margin: 0 8px;   
}

.form-producto-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.form-producto-save-button {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.form-producto-title {
    font-size: 25px;
    font-weight: 700;
    margin: 16px 8px 8px 16px;
}

.form-producto-subtitle {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 400;
    margin: 0px 8px 16px 16px;
    color: #4d4646;
}



.error-messages {
    color: #bf0020;
    font-size: 16px;
    font-weight: 400;
    margin: 16px;

    background-color: #ffe5ea;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid #ffccd5;
}

.error-messages-title {
    display: flex;
    gap: 8px;
    align-items: center;
}

.error-messages-title .anticon-exclamation-circle {
 color: #bf0020;
}

.error-messages-title span {
    display: flex;
    font-weight: 600;
    color: #000;
}

.form-producto-actions-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding-bottom: 8px;
    
}