.ant-menu-title-content{
    font-size: 14px;
    font-weight: 600;
    color: #000;
  
}

.menu-btn {
  background-color: #000000;
  border-color: #000000;
  color: white;
  transition: all 0.3s ease;

  font-weight: 500; 
  font-size: 15px; 
}

.menu-btn:hover {
  background-color: white !important;   
  color: #1890ff !important;             
  border-color: #1890ff !important;
}

.icon-book {
    color: #0e0e0e !important;
}


