.modal-add-amount .modal-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.modal-add-amount .modal-content {
   
}


.modal-add-amount .modal-content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.modal-add-amount .ant-divider {
    margin: 4px 0;
}
