
.modal-variant-form .modal-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


.modal-variant-form .modal-delete-button button {
    color: #BF0020;
}