.create-article-new {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
    font-weight: 600;
    color: #000;
}

.charge-button {

    margin: 0 16px;
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 16px 16px;
}

.charge-button button {
    width: 100%;
}

.proceso-pagos {
    padding: 32px;
}
.proceso-pagos__body {
    height: 100%;
    padding-bottom: 100px;
}

.proceso-pagos__header {
    display: flex;
    justify-content: center;
    align-items: center;
}