.create-article-new {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
    font-weight: 600;
    color: #000;
}

.charge-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 16px;
    
}

.charge-button button {
    width: 100%;
}

.proceso-pagos {
    padding: 32px;
}