.page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


.products-page {
    padding: 32px;
    width: 100%;
}

.products-page-filters-and-actions {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 16px;
}

.products-page-filters-and-actions button {
    width: 100%;
}

.products-page-search-input {
    width: auto;
    padding: 12px 20px;
    border-radius: 24px;
    border: 1px solid #e0e0e0;
}

.css-var-root.ant-input-css-var {
        --ant-input-hover-border-color: #000;
        --ant-input-focus-border-color: #000;
        --ant-input-active-border-color: #000;
        --ant-input-border-color: #000;
        --ant-input-border-color-hover: #000;
        --ant-input-border-color-focus: #000;
        --ant-input-border-color-active: #000;
        --ant-input-border-color-disabled: #000;
        --ant-input-border-color-error: #000;
        --ant-input-border-color-success: #000;
    }


.products-page-search-input input {

    border: none;
    border-radius: 24px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 12px;

}



.modal-delete-product .ant-modal-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.modal-delete-product .ant-modal-footer .ant-btn + .ant-btn {
  margin-inline-start: 0;
}


.producto-item{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    
}

.producto-item-info-container {
    //width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
   gap: 8px;
}

.producto-item-nombre {
    
    font-weight: 600;
    margin: 0;
}

.producto-item-precio {
    
    font-weight: 500;
    margin: 0;
    color: #666666;
}

.producto-item-cantidad {
    
    font-weight: 700;
    margin: 0;
}

.products-page-archived-title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 0;
}